#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
enable_pin: !sb2040:gpio7
rotation_distance: 22.23
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sb2040:gpio6
sensor_pin: sb2040:gpio27
sensor_type: Generic 3950
#inline_resistor: 1000
pullup_resistor: 4700
min_temp: 0
max_temp: 290
max_power: 1.0
min_extrude_temp: 0
pressure_advance: 0.02
pressure_advance_smooth_time: 0.020
max_extrude_only_distance: 9999999999
max_extrude_cross_section: 999 
max_extrude_only_accel: 20000
min_temp: 0
max_temp: 210


[tmc2209 extruder] ##  E0 on MOTOR6
uart_pin: sb2040:gpio8
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0